/* Body Düzenlemeleri */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Playfair Display", serif;
    
}
 /* Hero ve Navbar Düzenlemleri */
 .hero {
  min-height: 100vh;
  background-image: url("../İmages/arkaplan1.png");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  

 }
 .hero-content {
  position:absolute;
  top: 50%;  
  left:48%;
  transform:translate(-50%,-50%);
  z-index: 5;
  text-align:center;
  width: max-content; 
  max-width: 90vw;   
 }

.hero-content h1{
  color: #1f3f1b;         
  font-weight: 800;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 10px rgba(255, 235, 120, 0.35);
  font-size: 35px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hero-content p{
  margin-top: 10px;
  color: #2e5b2a;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.95;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hero-content h1,
.hero-content p{
  animation: glowPulse 2.8s ease-in-out infinite;
}

@keyframes glowPulse{
  0%   { box-shadow: 0 0 0 rgba(255, 255, 150, 0.0); }
  50%  { box-shadow: 0 0 22px rgba(255, 255, 150, 0.45); }
  100% { box-shadow: 0 0 0 rgba(255, 255, 150, 0.0); }
}


 .hero-bg{
  position:absolute;
  inset:0;
  background-image: url("../İmages/arkaplan1.png");
  background-size: cover;
  background-position: center;
  transform: scale(1);
  animation: slowZoom 18s ease-in-out infinite alternate;
  z-index:0;
  overflow: hidden;
}
.bi{
  font-size: 35px;
  color: #1f3f1b;
  cursor: pointer;
}

/* offCanvas Düzenlemeleri */

.offcanvas {
  background-color: #f7f8f5;
  color: #1f3f1b;
}

.offcanvas-title {
  font-weight: 700;
  font-size: 30px;
  color: #1f3f1b;
}
.offcanvas-body {
  padding-top: 10px;
}
.offcanvas-body a {
  display: block;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
  color: #1f3f1b;
  text-decoration: none;

  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.offcanvas-body a:hover {
  color: #4f7c2b;
}





/* Footer css */
.mini-copy{
  position:absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255,255,255,0.85);
  font-size: 13px;
  z-index: 2;
  text-shadow: 0 2px 10px rgba(0,0,0,0.35);
}


